VITE_SUPABASE_URL=https://tufpnlpdsizwiofjzpoo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1ZnBubHBkc2l6d2lvZmp6cG9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyODA0MzgsImV4cCI6MjA5Mjg1NjQzOH0.f4i7h_V1NHW64i6dTPfbUjeS9r3GWf4GQQUcWVTMwXQ
